html {
    background-color: #FFCA5A;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    color: white;
}

.triviaType {
    height: 160px;
    width: 160px;
    text-align: center;
    display: flex;
    justify-content: center;
    display: inline-block;
    margin: 20px;
    line-height: 2.5rem;
    position: relative;
    transition: 0.3s;
    font-size: 18px;
    padding-top: 20px;
}

.triviaType::before,
.triviaType::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transition: 0.3s;
    border-radius: 25px;
    text-emphasis: center;
}

.triviaType::before {
    background-color:#0271bb;
    z-index: -1;
}

.triviaType::after {
    background-color: #FE6355;
    transform: translate(0.8rem, 0.8rem);
    z-index: -2;
}

.triviaType:hover {
    transform: translate(0.8rem, 0.8rem);
}

.triviaType:hover::before {
    background-color: #FE6355;
}

.triviaType:hover::after {
    background-color: 	#0271bb;
    transform: translate(-0.8rem, -0.8rem);
}

#logout-categories {
    text-align: center;
    margin: 0 auto;
    display: flex;
    margin-right: 12%;
    background-color: #FE6355;
    border-radius: 25px;
  }

.header {
    font-size: 36px;
    text-align: center;
}

.column {
    text-align: center;
    justify-content: center;
}

#spacer {
    margin-top: 4%
}



