html {
    background-image: url("bkgrd.png");
    background-size: cover;
    height: 100%;
    animation: backgroundcolorchange 5s infinite alternate;
    opacity: 1;
}

body {
  margin-top: 10%;
  min-height: 100%;
  margin: 0;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

@keyframes backgroundcolorchange {
  0% { background-color: #6c9fce }
  33% { background-color: #fa88b3 }
  66% { background-color: #2dd8b6 }
  100% { background-color: #375885 }
  /* 80% { background-color: #A6192E }
  100% { background-color: #0a3564 } */
}


.hide {
    display: none;
  }

.hide-error {
   display: none;
 }


 .pwc {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.login-container {
  margin-left: 40%;
}

.signup-container {
  margin-left: 40%
}

.form-box {
  max-width: 300px;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}