html {
    background-size: cover;
    height: 100%;
    background-color: #ffca5a;
    opacity: 1;
}

#q-gif {
  outline: 2px solid #ffca5a;
  outline-offset: -2px;
}

body {
  margin-top: 10%;
  min-height: 100%;
  margin: 0;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

#signup-btn {
  background-color: #0064B0;
  border-radius: 25px;
}

#signup-screen-button {
  background-color: #0064B0;
  color: white;
  border-radius: 25px;
}

#login-screen-button {
  background-color: #FE6355;
  color: white;
  border-radius: 25px;
}

#login-btn {
  background-color: #FE6355;
  border-radius: 25px;
}



.hide {
    display: none;
  }

.hide-error {
   display: none;
 }


 .pwc {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.form-box {
  max-width: 300px;
  display: block;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

